.barUserFav{
    background-color: #141C21;
    width: 100%;
    height: 17em;
    margin-left:0 ;
    margin-right:0;
    padding-top: 1.5em;
    padding-bottom:1.5em ;
}
.userFav{
    border:solid #6B00FD;
    background-color: #141C21;
}
.userImg{
    width: 3em;
}
.btnFullStar{
    padding-right: 0;
}
.btnIncStar{
    padding-left:0 ;
}