.barUserFav{
    background-color: #141C21 !important;
    width:100% !important;
    height:17em !important;
    margin-left:0 !important;
    margin-right:0 !important;
    padding-top:1.5em !important;
    padding-bottom:1.5em !important;
}
.userFav{
    border:solid #6B00FD !important;
    background-color:#141C21 !important;
}
.userImg{
    width:3em !important;
}
.btnFullStar{
    padding-right:0 !important;
}
.btnIncStar{
    padding-left:0 !important;
}