.circularPortrait{
position: relative; 
width: 200px; 
height: 200px; 
overflow: hidden; 
border-radius: 50%;
} 
.circularPortrait img { 
    width: 100%; 
    height: auto; 
}
.image_WhoWeAre{
    object-fit: cover;
    height: 20vh;
    width: 30vw;
    border-radius: 50%;
}
.image_WhoWeAre_two{
    object-fit: cover;
    height: 20vh;
    width: 35vw;
    border-radius: 50%;
}
.card_WhoWeAre{
    background-color: #10171C !important;
    border: solid 2px #6B00FD !important;
}

.profileCard{
    overflow: hidden;
    position:relative;
    margin-bottom:10px;
    border: 1px solid #000;
}
.profileCard img{
    width:100%;
    height:auto;
    border: 3px solid #6B00FD;
    transform: scale(1.1,1.1) translateX(0);
    transition: all 0.50s ease 0s;
    min-height: 400px;
}
.profileCard:hover img{
    transform: scale(1.1,1.1) translateX(15px);
}
.profileCard .profileContent{
    position: absolute;
    bottom:0;
    right:0;
    width:100%;
    color:#333;
    padding:20px;
    text-align: right;
    border-radius:10px;
    background:rgba(255,255,255,0.6);
    transform: scale(0.9,0.9) translateY(100%);
    transition: all 0.40s linear 0s;
}
.profileCard:hover .profileContent{
    transform: scale(0.9,0.9) translateY(0);
}
.profileCard .profileContent h3{
    margin: 0 0 10px;
    font-size:25px;
}
.profileCard .profileContent p{
    margin: 0 0 10px;
    font-size:15px;
    line-height:24px;
    color: #10171C;
}
