.productGame{
    background-color: #272A31 !important;
    box-shadow: 10px 10px 5px 0px rgba(107,0,253,1);
}
.imgCard{
    width: 10em;
    height: 15em;
}
img.imgCard{
    object-fit: cover;
    object-position: center center;
}