.productGame {
    background-color: #272A31 !important;
}

.imgCard {
    width: 10em;
    height: 15em;
}

img.imgCard {
    object-fit: cover;
    object-position: center center;
}

.gameDetails {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}