.productGame{
    background-color:#141C21 !important;
    box-shadow: 10px 10px 5px 0px rgba(112,112,112,1);
}
.imgCard{
    width: 10em;
    height: 15em;
}
.btnCart{
    background-color: #5104BD;
    border:solid #6B00FD;
    cursor: pointer;
}
.btnCart:hover{
    background-color: #36007F;
    border:solid #36007F;
}