@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
}

.body{
  background-color: #272A31 ;
  color:#FFFFFF;
  font-family: 'Montserrat-Regular';
  border: 2px solid #6B00FD;
  border-radius: 10px;
  opacity: 1;
}

.label{
  background-color: #6b00fd;
  border-radius: 10px;
  opacity: 1;
  padding: 1%;
}
.input{
  border: 2px solid #6B00FD;
  border-radius: 10px;
  opacity: 1;
  font-family: 'Montserrat-Regular';
  padding: 1%;
  background-color: #272A31 ;
  color:#FFFFFF;
}