.navXteam{
    background-color:#10171C;
    margin:0;
    padding:0;
    position:fixed;
    z-index:100;
}
.inpSearch{
    border-top-right-radius:0 !important;
    border-bottom-right-radius:0 !important;
    border:solid #6B00FD !important;
    background-color:#10171C !important;
}
.btnSearch{
    background-color:#6B00FD !important;
    border:none !important;
    border-bottom-left-radius:0 !important;
    border-top-left-radius:0 !important;
}
.btnCart{
    background-color:#10171C;
}
.btnQuest{
    background-color:#FFFFFF;
    width:3em;
    height:2em;
    margin-top:0.4em;
    border-radius:50%;
}