.navXteam{
    background-color:#10171C;
    margin: 0;
    padding: 0;
    position:fixed;
    z-index: 100;
}
.inpSearch{
    border-top-right-radius:0 ;
    border-bottom-right-radius: 0;
    border:solid #6B00FD;
    background-color: #10171C;
}
.btnSearch{
    background-color: #6B00FD;
    border: none;
    border-bottom-left-radius:0;
    border-top-left-radius: 0;
}
.btnCart{
    background-color: #10171C;
}
.btnQuest{
    background-color:#FFFFFF;
    width: 3em;
    height: 2em;
    margin-top: 0.4em;
    border-radius: 50%;
}