/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #6b00fd;
    --primary-color-hover: #5E2DF0;
    --secondary-color: #39ccdd;
    --dark-color: #272a31;
    --white-color: #ffffff;
}

/* .navbar{
    width: 100vw;
} */
.navXteam {
    background-color: #10171C;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 100;
}

.inpSearch {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border: solid var(--primary-color) !important;
    background-color: #10171C !important;
}

.btnSearch {
    background-color: var(--primary-color) !important;
    border: none !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.btnCart {
    background-color: #10171C;
}

.btnQuest {
    background-color: var(--white-color);
    width: 3em;
    height: 2em;
    margin-top: 0.4em;
    border-radius: 50%;
}

a.navigateLink {
    background-color: transparent;
    color: var(--white-color);
    font-size: 1em;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0.5rem 0.4rem;
}

a.navigateLink:hover {
    color: var(--secondary-color);
}

a.navigateLinkActive {
    background-color: transparent;
    color: var(--secondary-color);
    font-size: 1em;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0.5rem 0.4rem;
}

a.navigateLinkActive:hover {
    color: var(--secondary-color);
}

li.nav-item.px-2 a:hover {
    color: var(--secondary-color) !important;
}

img.logoTopImg {
    width: 120px;
}

.containerNavbarTop {
    background: transparent linear-gradient(180deg, #141C21 0%, #141C21 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}

.navContainer{
    display: flex;
    flex-direction: column;
}
input.fieldInputSearch,
input.fieldInputSearch:focus {
    border-radius: 5px 0px 0px 5px;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    box-shadow: none;
}

input.fieldInputSearch:focus {
    box-shadow: none;
}

input.fieldInputSearch::placeholder {
    color: var(--white-color);
    font-weight: 500;
}

button.fieldInputSearch-icon {
    border-radius: 0 5px 5px 0;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
}

button.fieldInputSearch-icon:hover {
    background-color: var(--primary-color-hover);
    border: 2px solid var(--primary-color-hover);
}

button.buttonIcon {
    background-color: transparent;
    color: var(--white-color);
    transition: all 0.5s;
}

button.buttonIcon:hover {
    color: var(--primary-color);
}

button.menuUser {
    background: transparent linear-gradient(180deg, #5104BD 0%, #6B00FD 100%) 0% 0% no-repeat padding-box;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
}

ul.menuUserShow {
    max-width: 60px;
    left: -100px !important;
    color: var(--white-color);
    background-color: #141C21;
}

.list.results_search {
    font-weight: 100;
    color: var(--white-color);
}

.list.results_search li:hover p {
    font-size: 0.2em;
    color: var(--primary-color-hover);
}

.results_search.textResult {
    color: var(--white-color);
    text-decoration: none;
}
.searchBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #272a31;
}
.searchInput{
    background-color: #272a31;
    width: 95%;
    color: #fff;
    padding: 10px;
    outline: #272a31 none 0px;
    border: none;
}
.results{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.result{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}
.result:hover{
    color: #5E2DF0;
    text-decoration: underline;
}
.btnUser{
    background-color: #141C21;
}
@media only screen and (max-width: 1279px) and (min-width: 280px) {

    .containerNavbarLogo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul.containerListItems {
        justify-content: center;
        align-items: center;
    }
    
    ul.containerListItems li {
        display: inline-block;
    }


}