@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
}
:root {
  --primary-color: #6b00fd;
  --secondary-color: #39ccdd;
  --dark-color: #272a31;
  --black-color: #10171C;
  --light-color: #ffffff;
}

.bgBody{
  background-color: var(--dark-color);
}

.fontStyle{
  font-family: 'Montserrat-Regular';
  color: var(--primary-color)
}

